/* Fonts */

@font-face {
  font-family: 'Garogier';
  src: url(img/garogier.ttf);
}


/* Common */

html {
  background: linear-gradient(#ffffff, #e8e5e3);
  min-height: 100%;
}

body {
  background: none;
  border: none;
  color: #554;
  display: block;
  font-family: sans-serif;
  margin: 5em auto;
  padding: 0;
  width: 800px;
}

body:before {
  color: #ffffff;
  content: '\7b';
  left: -0.05em;
  margin-top: -0.2em;
  top: 0;
}

body:after {
  bottom: 0;
  color: #e5e6e0;
  content: '\7d';
  margin-bottom: -0.2em;
  margin-right: -0.05em;
  right: 0;
}

body:before, body:after{
  font-family: 'Garogier';
  font-size: 50em;
  font-weight: normal;
  line-height: 1em;
  opacity: 0.8;
  position: fixed;
  transform: rotate(25deg);
  z-index: -1;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a:hover, a:focus {
  background: none;
  box-shadow: none;
  text-decoration: none;
}

pre {
  background: radial-gradient(#e5e5e0, #dadad2);
  border-radius: 0;
  box-shadow: none;
  color: #000000;
  margin: 0 auto;
  margin-left: 0;
  opacity: 0.8;
  text-shadow: none;
  width: 500px;
}


/* Headers */

h1 {
  font-family: 'Garogier';
  font-size: 6em;
  font-weight: normal;
  line-height: 1.5em;
  text-align: center;
  text-transform: lowercase;
}

h1 a {
  color: #474C20;
}

h1 a:hover, h1 a:focus, h1 a:active {
  background: none;
  box-shadow: none;
  text-decoration: none;
}

h1:before, h1:after{
  color: #8e983f;
  font-family: 'Garogier';
  font-size: 1.2em;
  font-weight: normal;
}

h1:before {
  content: '\7b';
  display: inline-block;
  margin-right: -0.15em;
  margin-top: -0.3em;
  transform: rotate(45deg);
  vertical-align: top;
}

h1:after {
  content: '\7d';
  display: inline-block;
  margin-bottom: -0.3em;
  transform: rotate(45deg);
  vertical-align: bottom;
}

h2 {
  color: #7f7a6a;
  font-size: 20px;
  font-variant: small-caps;
  margin-left: 5%;
  text-shadow: none;
}

h3 {
  color: #8e983f;
  font-size: 16px;
  text-shadow: none;
}

h4 {
  color: #8e983f;
  font-variant: normal;
}


/* Nav */

nav ul {
  background: none;
  box-shadow: none;
  color: #7f7a6a;
  text-transform: none;
}

nav li, nav li a {
  border-radius: 0;
  color: #7f7a6a;
  font-size: 24px;
  font-variant: small-caps;
}

nav ul, nav li {
  border-radius: 0;
  margin-left: 1%;
}

nav li a:hover, nav li a:focus {
  background: none;
  text-decoration: none;
}

nav li:hover, nav li:focus {
  background: #e5e5e0;
  padding-top: 10px;
}

nav li {
  transition-duration: 0.6s, 0.6s;
  transition-property: background-color, padding-top;
  transition-timing-function: linear, ease-out;
}


/* Contents */

.contents {
  background: radial-gradient(#e5e5e0, #dadad2);
  border-radius: 0;
  box-shadow: 1px 1px 7px;
  font-variant: small-caps;
  width: 500px;
}

.contents a:hover, .contents a:focus {
  background: none;
}


/* Footer */

footer li a {
  color: #887;
  margin: 0 1.5%;
}

footer li a:hover, footer li a:focus{
  background: none;
  box-shadow: none;
}
