/* Fonts */

@font-face {
  font-family: 'Garogier';
  src: url(img/garogier.ttf);
}


/* Common */

html {
  background: linear-gradient(#ffffff, #e8e5e3);
  min-height: 100%;
}

body {
  color: #554;
  font-family: sans-serif;
  margin: 5em auto;
  padding: 0;
  width: 800px;
}

body:before {
  color: #ffffff;
  content: '\7b';
  left: -0.05em;
  margin-top: -0.2em;
  top: 0;
}

body:after {
  bottom: 0;
  color: #e5e6e0;
  content: '\7d';
  margin-bottom: -0.2em;
  margin-right: -0.05em;
  right: 0;
}

body:before, body:after {
  font-family: 'Garogier';
  font-size: 50em;
  font-weight: normal;
  line-height: 1em;
  opacity: 0.8;
  position: fixed;
  transform: rotate(25deg);
  z-index: -1;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a {
  color: #8e983f;
  text-decoration: none;
}

pre {
  background: radial-gradient(#e5e5e0, #dadad2);
  color: black;
  margin: 0 auto;
  opacity: 0.8;
  padding: 1em;
  width: 700px;
}


/* Headers */

h1 {
  font-family: 'Garogier';
  font-size: 6em;
  font-weight: normal;
  line-height: 1.5em;
  text-align: center;
  text-transform: lowercase;
}

h1 a {
  color: #474C20;
  outline: none;
}

h1:before, h1:after {
  color: #8e983f;
  font-family: 'Garogier';
  font-size: 1.2em;
  font-weight: normal;
}

h1:before {
  content: '\7b';
  display: inline-block;
  margin-right: -0.15em;
  margin-top: -0.3em;
  transform: rotate(45deg);
  vertical-align: top;
}

h1:after {
  content: '\7d';
  display: inline-block;
  margin-bottom: -0.3em;
  transform: rotate(45deg);
  vertical-align: bottom;
}

h2 {
  color: #7f7a6a;
  font-size: 20px;
  font-variant: small-caps;
  margin: 2em 0 0.5em 0;
}

h3 {
  color: #8e983f;
  font-size: 16px;
  font-variant: normal;
  margin: 2em 0 0.5em 0;
}

h4 {
  color: #8e983f;
  font-variant: normal;
}


/* Nav */

nav ul {
  color: #7f7a6a;
  outline: none;
  padding: .75em;
  text-align: center;
}

nav li {
  display: inline;
  font-size: 24px;
  font-variant: small-caps;
}

nav li a {
  color: #8e983f;
  padding: .25em .5em;
  transition-duration: 0.6s, 0.6s;
  transition-property: background-color, padding-top;
  transition-timing-function: linear, ease-out;
}

nav li a[href] {
  color: #7f7a6a;
}

nav li a[href]:hover, nav li a[href]:focus {
  background: #e5e5e0;
  padding-top: 0.5em;
}


/* Contents */

.contents {
  background: radial-gradient(#e5e5e0, #dadad2);
  box-shadow: 1px 1px 7px;
  font-variant: small-caps;
  width: 500px;
}


/* Footer */

footer {
  margin: 3em 0 1em 0;
  text-align: center;
}

footer li {
  display: inline;
}

footer li a {
  color: #887;
  margin: 0 1.5%;
}
