@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url(images/AGaramondPro-Regular.otf);
}

@font-face {
  font-family: 'Georgia';
  src: url(images/georgia.ttf);
}

/* ------------------------------------------------------------
HTML
------------------------------------------------------------- */
html {
  background: linear-gradient(#ffffff, #e8e5e3);
}

/* ------------------------------------------------------------
BODY
------------------------------------------------------------- */
body {
  background: none;
  border: none;
  color: #7f7a6a;
  display: block;
  font-family: 'arial';
  margin: 5em auto;
  width: 800px;
}

body:before {
  color: #ffffff;
  content: "\7b";
  left: -0.1em;
  margin-top: -0.2em;
  top: 0;
}

body:after {
  bottom: 0;
  color: #e5e6e0;
  content: "\7d";
  margin-bottom: -0.1em;
  right: -0.1em;
}

body:before, body:after{
  font-family: 'Georgia';
  font-size: 50em;
  font-weight: normal;
  line-height: 1em;
  opacity: 0.8;
  position: fixed;
  transform: rotate(25deg);
  z-index: -1;
}

/* -Header-*/
h1 {
  font-family: 'Adobe Garamond pro';
  font-size: 6em;
  font-weight: normal;
  line-height: 2em;
  margin-bottom: 20%;
  text-align: center;
}

h1 a:hover, h1 a:focus, h1 a:active {
  background: none;
  box-shadow: none;
  text-decoration: none;
}

h1:before, h1:after{
  color: #8e983f;
  font-family: 'Georgia';
  font-size: 1.5em;
  font-weight: normal;
}

h1:before {
  content: "\7b";
  display: inline-block;
  margin-top: -0.5em;
  transform: rotate(45deg);
  vertical-align: top;
}

h1:after {
  content: "\7d";
  display: inline-block;
  margin-bottom: -0.3em;
  transform: rotate(45deg);
  vertical-align: bottom;
}


/* ------------------------------------------------------------
NAV
------------------------------------------------------------- */
/* -ul-*/
nav ul {
  background: none;
  box-shadow: none;
  color: #7f7a6a;
  text-transform: none;
}

nav li, nav li a {
  border-radius: 0;
  color: #7f7a6a;
  font-size: 24px;
  font-variant: small-caps;
}

nav li, nav ul {
  border-radius: 0;
  margin-left: 1%;
}

nav li a:hover, nav li a:focus {
  background: none;
  text-decoration: none;
}

li {
  margin-left: -3%;
}

a:hover {
  background: none;
  box-shadow: none;
  text-decoration: none;
}

nav li:hover {
  background: #e5e5e0;
  padding-top: 10px;
}

nav li{
  transition-duration: 0.6s, 0.6s;
  transition-property: background-color, padding-top;
  transition-timing-function: linear, ease-out;
}

/* -Section-*/
h2 {
  color: #7f7a6a;
  font-size: 20px;
  font-variant: small-caps;
  margin-left: 5%;
  text-shadow: none;
}

h3 {
  color: #8e983f;
  font-size: 16px;
  text-shadow: none;
}

h4 .toc-backref {
  color: #8e983f;
  font-variant: normal;
}

pre {
  background: radial-gradient(#e5e5e0, #dadad2);
  border-radius: 0;
  box-shadow: none;
  color: #000000;
  margin: 0 auto;
  margin-left: 0;
  opacity: 0.8;
  text-shadow: none;
  width: 500px;
}

.simple {
  list-style:none;
}

/* -Contents- */
.contents {
  background: radial-gradient(#e5e5e0, #dadad2);
  border-radius: 0;
  box-shadow: none;
  width: 500px;
}

.contents a:hover, .contents a:focus {
  background: none;
}

.toc-backref {
  color: #7f7a6a;
  font-variant: small-caps;
  text-shadow: none;
}

#id1, #id2, #id3, #id6, #id7{
  color: #7f7a6a;
  font-variant: small-caps;
  font-weight: bold;
}

#id4, #id5, #id8{
  color: #8e983f;
}


/* ------------------------------------------------------------
FOOTER
------------------------------------------------------------- */
footer li a:hover, footer li a:focus{
  background: none;
  box-shadow: none;
}

footer li a {
  margin-left: 3%;
}

#supported-browsers li {
  list-style: none;
  margin-left: -1.5em;
}
